/target/
/src/main/dev/
/lib/
/nb-configuration.xml
/nbproject/
nb-configuration.xml
nbactions.xml
.project
.classpath
.settings
/vpproject/
/lib-dev
/lib-enterprise
/src/main/java/adev
/src/main/java/atest
# Local classpath dumps (mvn dependency:build-classpath output)
api-cp.txt
*-cp.txt
